

.logo{
    display: flex;
    justify-content: center;
margin-right: 20px;
    align-items: center;
padding: 0;
;
    border-radius: 100%;
}
.intro{
    display: flex;
    justify-content: center;
     align-items: center;
    margin-left: -1%;
    border-radius: 100%;
}
.navegador{


    background-color: grey;
    width: 100%;
    height: 50px;
    padding: 6px;
    border-top: 4px solid rgb(0, 0, 0);
border-bottom: 4px solid rgb(0, 0, 0);
margin-left: auto;
margin-right: auto;
margin-top:1%;



}



.navegador ul{
    list-style-type: none;
    text-align: center;
 }
 .navegador li{
    display: inline;
    text-align: center;
padding: 1PX;
list-style: none;
  margin: 0;
  padding: 0;



 }



 .navegador li a {
font-size: 19px;
align-content: center;
color: #070606;
text-decoration: none;
align-content: center;
border-radius: 4px;
padding: 7px;
 }
 .navegador li a:hover{
    background-color: yellow;
    color: #070606;

 }

 .submenu {
    position: absolute;
    width: 170px;
    visibility: visible;
    opacity: opacity 1.5s;
    background:#a1a3a3;
  align-content:center;
  border-radius:5px;


  }
  .menu li:hover .submenu{
  visibility: visible;
  opacity: 1;
  }
  .menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
  }
 .titulo{

text-align: center;


 }




.contenedorbusqueda{
    margin-left: auto;
    margin-right: auto;
 text-align: center;
}

 .inputbuscar{

    width: 360px;
    height: 38px;

    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;


 }

 .botonbusqueda{


    background-color: rgb(80, 80, 255);
    width: 90px;
    height: 38px;
    font-size: 19px;
   border: 4px solid black;
   border-radius: 5px;
    align-items: center;


 }

 .parrafo{


    border-top: 4px solid rgb(0, 0, 0);
background-color: beige;
font-size: 23px;
margin: 2%;
font-family: 'Times New Roman', Times, serif;
margin-top: 1%;

 }

.galeria{
    display:inline;

}

 footer{


    background-color: grey;

    height: 120px;
    margin-top: 30px;
 }

.titulofooter{
    text-align: center;
    font-size: 24px;


 }
 .copyrigth{
    text-align: center;
font-size: 15px;
margin-top: 5px;

 }

 .redes {
    color: #070606;
display: inline;
    font-size: 15px;
margin-left: 30%;


}

